<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <title>Contacto</title>
</head>
<body>
    <header class="main-header">        
        <nav class="main-header__nav container">
            <a class="main-header__logo" href="./index.html"><img class="main-header__img" src="../img/eventos.png" alt="el logo del sitio"></a>            
            <ul class="menu">
               <li class="menu__item"><a class="menu__link menu__link--active" href="../index.html">INICIO</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./nosotros.html">NOSOTROS</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./ubicacion.html">UBICACION</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./portafolio.html">PORTAFOLIO</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./contacto.html">CONTACTO</a></li>
            </ul>            
        </nav>
    </header>
    <section class="container">
        <h1>CONTACTO</h1>
        <form action="#" method="post" >
         <input type="text" name="nombre" id="" placeholder="Nombre"><br>
         <input type="email" name="correo electronico" id="" placeholder="Correo"><br>
         <input type="radio" name="Sexo" id="inputMasculino" value="Masculino">
         <label for="inputMasculino">Masculino</label>
         <input type="radio" name="Sexo" id="inputFemenino" value="Femenino">
         <label for="inputFemenino">Femenino</label> <br>
         <label for="inputMeses">Meses</label>
         <select name="Meses" id="">
             <option value="Enero">Enero</option>
             <option value="Febrero">Febrero</option>
             <option value="Marzo">Marzo</option>
             <option value="Abril">Abril</option>
             <option value="Mayo">Mayo</option>
             <option value="Junio">Junio</option>
             <option value="Julio">Julio</option>
             <option value="Agosto">Agosto</option>
             <option value="Septiembre">Septiembre</option>
             <option value="Octubre">Octubre</option>
             <option value="Noviembre">Noviembre</option>
             <option value="Diciembre">Diciembre</option>
         </select><br>
         <textarea name="Texto" id="" cols="30" rows="10" placeholder="Escribir"></textarea><br>
         <input type="button" value="no hago nada">
         <input type="reset" value="borrar">
         <input type="submit" value="Enviar">

        </form>
    </section>
    <footer>         
        <p>© Diego Alfonzo</p>
    </footer>
</body>
</html>