<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <title>Portafolio</title>
</head>
<body>
    <header class="main-header">        
        <nav class="main-header__nav container">
            <a class="main-header__logo" href="./index.html"><img class="main-header__img" src="../img/eventos.png" alt="el logo del sitio"></a>            
            <ul class="menu">
               <li class="menu__item"><a class="menu__link menu__link--active" href="../index.html">INICIO</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./nosotros.html">NOSOTROS</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./ubicacion.html">UBICACION</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./portafolio.html">PORTAFOLIO</a></li>
               <li class="menu__item"><a class="menu__link menu__link--active" href="./contacto.html">CONTACTO</a></li>
            </ul>            
        </nav>
    </header>
    <section class="container">
        <h1>PORTAFOLIO</h1>
        <main>
            <img src="../img/imagen1.jpg" alt="imagen1">
            <img src="../img/imagen2.jpg" alt="imagen2">
            <img src="../img/imagen3.jpg" alt="imagen3">
        </main>
    </section>       
    <footer>
          <p>© Diego Alfonzo</p>
    </footer>
</body>
</html>